@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
body {
  color: #373737;
  font-family: "Lato", "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 1.5; }

h1 {
  font-size: 28px;
  font-weight: 400; }

p {
  font-size: 18px;
  font-weight: 300; }

a {
  font-weight: 700;
  color: #373737;
  transition: 150ms;
  text-decoration: none; }
  a:link a:visited a:active {
    text-decoration: none; }
  a:hover {
    color: #2890e6;
    text-decoration: underline; }

#title-text {
  font-size: 32px;
  font-weight: 400; }
  #title-text:hover {
    color: #2bb181;
    text-decoration: none; }

.project-text {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 1px;
  z-index: 1;
  pointer-events: none; }

.reverse {
  unicode-bidi: bidi-override;
  direction: rtl; }

.icon-btn, .icon-btn-left {
  width: 40px;
  height: 40px;
  background-color: #373737;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  transition: 150ms ease-in-out; }
  .icon-btn:hover, .icon-btn-left:hover {
    background-color: #2890e6;
    cursor: pointer; }

.icon-btn-left {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px; }

.icon-desc-container {
  display: inline-block;
  height: 40px;
  background-color: transparent;
  box-sizing: border-box;
  border: 1px solid #373737;
  border-radius: 8px;
  color: #373737; }
  .icon-desc-container > .icon-btn-left {
    float: left;
    -webkit-transform: translate(-1px, -1px);
    -moz-transform: translate(-1px, -1px);
    -ms-transform: translate(-1px, -1px);
    -o-transform: translate(-1px, -1px);
    transform: translate(-1px, -1px);
    pointer-events: none; }
  .icon-desc-container > .icon-desc {
    float: right;
    margin: 0px 10px;
    font-size: 16px;
    text-align: center;
    line-height: 38px;
    font-weight: 700; }

#email-icon {
  font-size: 19px; }

.clearfix {
  clear: both; }

@-webkit-keyframes seizure {
  0% {
    background-color: #eb2e2e; }
  10% {
    background-color: #f6c42c; }
  20% {
    background-color: #bfec53; }
  30% {
    background-color: #56ec53; }
  40% {
    background-color: #53ecbe; }
  50% {
    background-color: #53b0ec; }
  60% {
    background-color: #535dec; }
  70% {
    background-color: #8453ec; }
  80% {
    background-color: #d653ec; }
  90% {
    background-color: #ec53c1; }
  100% {
    background-color: #ec5373; } }
@-moz-keyframes seizure {
  0% {
    background-color: #eb2e2e; }
  10% {
    background-color: #f6c42c; }
  20% {
    background-color: #bfec53; }
  30% {
    background-color: #56ec53; }
  40% {
    background-color: #53ecbe; }
  50% {
    background-color: #53b0ec; }
  60% {
    background-color: #535dec; }
  70% {
    background-color: #8453ec; }
  80% {
    background-color: #d653ec; }
  90% {
    background-color: #ec53c1; }
  100% {
    background-color: #ec5373; } }
@-o-keyframes seizure {
  0% {
    background-color: #eb2e2e; }
  10% {
    background-color: #f6c42c; }
  20% {
    background-color: #bfec53; }
  30% {
    background-color: #56ec53; }
  40% {
    background-color: #53ecbe; }
  50% {
    background-color: #53b0ec; }
  60% {
    background-color: #535dec; }
  70% {
    background-color: #8453ec; }
  80% {
    background-color: #d653ec; }
  90% {
    background-color: #ec53c1; }
  100% {
    background-color: #ec5373; } }
@keyframes seizure {
  0% {
    background-color: #eb2e2e; }
  10% {
    background-color: #f6c42c; }
  20% {
    background-color: #bfec53; }
  30% {
    background-color: #56ec53; }
  40% {
    background-color: #53ecbe; }
  50% {
    background-color: #53b0ec; }
  60% {
    background-color: #535dec; }
  70% {
    background-color: #8453ec; }
  80% {
    background-color: #d653ec; }
  90% {
    background-color: #ec53c1; }
  100% {
    background-color: #ec5373; } }
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-o-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes dropFadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); } }
@-moz-keyframes dropFadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); } }
@-o-keyframes dropFadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); } }
@keyframes dropFadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); } }
.ani, .ani0, .ani1, .ani2, .ani3, .ani4, .ani5 {
  animation: dropFadeIn 500ms; }

.ani0 {
  animation-delay: 0ms; }

.ani1 {
  animation-delay: 100ms; }

.ani2 {
  animation-delay: 200ms; }

.ani3 {
  animation-delay: 300ms; }

.ani4 {
  animation-delay: 400ms; }

.ani5 {
  animation-delay: 500ms; }

.sidebar {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  float: left;
  width: 25%;
  background-color: #373737; }

.name-container {
  width: 60%;
  margin: 0px auto;
  text-align: center; }

.name {
  color: white;
  transition: 100ms; }
  .name:hover {
    transform: scale(1.1, 1.1);
    transform-origin: center;
    cursor: default; }

.main {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  float: right;
  width: 100%;
  background-color: #f0f0f0;
  overflow-y: scroll; }

#main {
  animation-timing-function: ease-in-out; }

.content-container {
  width: 50%;
  margin: 50px auto; }

#content {
  background-size: 100%; }

.projects-container {
  width: 100%;
  margin: 0px auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center; }

.project-box {
  position: relative;
  width: 300px;
  height: 200px;
  margin: 10px;
  padding: 0px 10px;
  text-align: center;
  transition: 200ms ease-in-out; }
  .project-box.cvicu {
    background-color: rgba(186, 66, 54, 0.8); }
  .project-box.hbi {
    background-color: rgba(232, 198, 82, 0.8); }
  .project-box.roots {
    background-color: rgba(57, 124, 213, 0.8); }
    .project-box.roots:hover > .project-icon {
      transform: rotate(360deg);
      transition: 700ms ease-in-out; }
  .project-box.maps {
    background-color: rgba(40, 40, 40, 0.8); }
  .project-box:hover {
    transform: scale(1.05, 1.05);
    transform-origin: center; }

.project-box-img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 200ms; }
  .project-box-img:hover {
    opacity: 0.3;
    cursor: pointer; }

.project-icon {
  display: block;
  position: relative;
  height: 60px;
  width: auto;
  margin: 30px auto 20px;
  z-index: 1;
  pointer-events: none; }

.contact-container {
  text-align: center; }

.icons-container {
  margin: 0px auto; }

/*# sourceMappingURL=style.css.map */
