@import "_mixins";

@include keyframes(seizure) {
  0% {
    background-color: #eb2e2e;
  }
  10% {
    background-color: #f6c42c;
  }
  20% {
    background-color: #bfec53;
  }
  30% {
    background-color: #56ec53;
  }
  40% {
    background-color: #53ecbe;
  }
  50% {
    background-color: #53b0ec;
  }
  60% {
    background-color: #535dec;
  }
  70% {
    background-color: #8453ec;
  }
  80% {
    background-color: #d653ec;
  }
  90% {
    background-color: #ec53c1;
  }
  100% {
    background-color: #ec5373;
  }
}

@include keyframes(rotate) {
  from {
    @include transform(rotate(0deg));
  }
  to {
    @include transform(rotate(360deg));
  }
}

@include keyframes(pulse) {
  0% {
    @include transform(scale(1.0, 1.0));
    @include transform-origin(center);
  }
  25% {
    @include transform(scale(1.2, 1.2));
    @include transform-origin(center);
  }
  50% {
    @include transform(scale(1.0, 1.0));
    @include transform-origin(center);
  }
  75% {
    @include transform(scale(0.85, 0.85));
    @include transform-origin(center);
  }
  100% {
    @include transform(scale(1.0, 1.0));
    @include transform-origin(center);
  }
}

@include keyframes(dropFadeIn) {
  from {
    opacity: 0;
    @include transform(translateY(-20px));
  }
  to {
    opacity: 1;
    @include transform(translateY(0px));
  }
}

// Page load animation orders
.ani {
  animation: dropFadeIn 500ms ease-out;
}

.ani0 {
  @extend .ani;
  animation-delay: 0ms;
}

.ani1 {
  @extend .ani;
  animation-delay: 100ms;
}

.ani2 {
  @extend .ani;
  animation-delay: 200ms;
}

.ani3 {
  @extend .ani;
  animation-delay: 300ms;
}

.ani4 {
  @extend .ani;
  animation-delay: 400ms;
}

.ani5 {
  @extend .ani;
  animation-delay: 500ms;
}
