$false-black              : #373737;
$false-black-80           : rgba($false-black, 0.80);
$false-black-60           : rgba($false-black, 0.60);
$false-black-40           : rgba($false-black, 0.40);
$false-black-20           : rgba($false-black, 0.20);

$false-white              : #f0f0f0;
$false-white-80           : rgba($false-white, 0.80);
$false-white-60           : rgba($false-white, 0.60);
$false-white-40           : rgba($false-white, 0.40);
$false-white-20           : rgba($false-white, 0.20);

$blue                     : #2890e6;
$blue-80                  : rgba($blue, 0.80);
$blue-60                  : rgba($blue, 0.60);
$blue-40                  : rgba($blue, 0.40);
$blue-20                  : rgba($blue, 0.20);
