$false-black              : #373737;
$false-black-80           : rgba($false-black, 0.80);
$false-black-60           : rgba($false-black, 0.60);
$false-black-40           : rgba($false-black, 0.40);
$false-black-20           : rgba($false-black, 0.20);
