$false-black              : #373737;
$false-black-80           : rgba($false-black, 0.80);
$false-black-60           : rgba($false-black, 0.60);
$false-black-40           : rgba($false-black, 0.40);
$false-black-20           : rgba($false-black, 0.20);

$false-white              : #f0f0f0;
$false-white-80           : rgba($false-white, 0.80);
$false-white-60           : rgba($false-white, 0.60);
$false-white-40           : rgba($false-white, 0.40);
$false-white-20           : rgba($false-white, 0.20);

$blue                     : #2890e6;
$blue-80                  : rgba($blue, 0.80);
$blue-60                  : rgba($blue, 0.60);
$blue-40                  : rgba($blue, 0.40);
$blue-20                  : rgba($blue, 0.20);

$red                      : #ba4236;
$red-80                   : rgba($red, 0.80);
$red-60                   : rgba($red, 0.60);
$red-40                   : rgba($red, 0.40);
$red-20                   : rgba($red, 0.20);

$green                    : #2bb181;
$green-80                 : rgba($green, 0.80);
$green-60                 : rgba($green, 0.60);
$green-40                 : rgba($green, 0.40);
$green-20                 : rgba($green, 0.20);

$white                    : #ffffff;
$white-80                 : rgba($white, 0.80);
$white-60                 : rgba($white, 0.60);
$white-40                 : rgba($white, 0.40);
$white-20                 : rgba($white, 0.20);

$hbi-yellow               : #e8c652;
$hbi-yellow-80            : rgba($hbi-yellow, 0.80);
$hbi-yellow-60            : rgba($hbi-yellow, 0.60);
$hbi-yellow-40            : rgba($hbi-yellow, 0.40);
$hbi-yellow-20            : rgba($hbi-yellow, 0.20);

$roots-blue               : #397cd5;
$roots-blue-80            : rgba($roots-blue, 0.80);
$roots-blue-60            : rgba($roots-blue, 0.60);
$roots-blue-40            : rgba($roots-blue, 0.40);
$roots-blue-20            : rgba($roots-blue, 0.20);

$maps-gray                : #282828;
$maps-gray-80             : rgba($maps-gray, 0.80);
$maps-gray-60             : rgba($maps-gray, 0.60);
$maps-gray-40             : rgba($maps-gray, 0.40);
$maps-gray-20             : rgba($maps-gray, 0.20);
