@import "_mixins";
// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

// Weights
$thin         : 100;
$light        : 300;
$regular      : 400;
$bold         : 700;
$black        : 900;

// Sizes
$title-size   : 32px;
$header-size  : 26px;
$emph-size    : 22px;
$body-size    : 16px;
$mini-size    : 12px;

// Styles
$font-stack   : 'Lato', 'Helvetica', sans-serif;

body {
  color: $false-black;
  font-family: $font-stack;
  font-size: $body-size;
  line-height: 1.5;
}

h1 {
  font-size: $header-size;
  font-weight: $regular;
}

p {
  font-size: $body-size;
  font-weight: $light;
}

.link-text {
  font-weight: $bold;
  color: $false-black;
  transition: 150ms;
  text-decoration: none;
  &:link &:visited &:active {
    text-decoration: none;
  }
  &:hover {
    color: $blue;
    text-decoration: underline;
  }
}

.link-wrap {
  display: block;
  text-decoration: none;
  &:link &:visited &:active {
    text-decoration: none;
  }
}

#title-text {
  font-size: $title-size;
  font-weight: $regular;
  &:hover {
    color: $green;
    text-decoration: none;
  }
}

.project-text {
  position: relative;
  font-size: 20px;
  font-weight: $bold;
  color: $white;
  letter-spacing: 1px;
  z-index: 1;
  pointer-events: none;
}

.reverse {
  unicode-bidi: bidi-override;
  direction: rtl;
}

.score-text {
  font-family: 'Press Start 2P', cursive;
  font-size: $mini-size;
}

// Project Page

.project-page-title {
  font-size: $title-size;
}
