@import "_colors";
@import "_text";
@import "_buttons";
@import "_misc";
@import "_animations";
@import "_mixins";

.sidebar {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  float: left;
  width: 25%;
  background-color: $false-black;
}

.name-container {
  width: 60%;
  margin: 0px auto;
  text-align: center;
}

.name {
  color: white;
  transition: 100ms;
  &:hover {
    transform: scale(1.1, 1.1);
    transform-origin: center;
    cursor: default;
  }
}

.main {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  float: right;
  width: 100%;
  background-color: $false-white;
  overflow-y: scroll;
}

// Just for the easter eggz
#main {
  // animation: seizure 1s infinite;
  animation-timing-function: ease-in-out;
}

.content-container {
  width: 50%;
  margin: 50px auto;
}

// Just for the easter eggz
#content {
  background-size: 100%
}

.projects-container {
  width: 100%;
  margin: 0px auto;
  @include flexbox();
  -webkit-flex-flow: row wrap;
  justify-content: center;
}

.project-box {
  position: relative;
  width: 300px;
  height: 200px;
  margin: 10px;
  padding: 0px 10px;
  text-align: center;
  transition: 200ms ease-in-out;
  &.cvicu {
    background-color: $red-80;
  }
  &.hbi {
    background-color: $hbi-yellow-80;
  }
  &.roots {
    background-color: $roots-blue-80;
    &:hover > .project-icon {
      transform: rotate(360deg);
      transition: 700ms ease-in-out;
    }
  }
  &.maps {
    background-color: $maps-gray-80;
  }
  &:hover {
    transform: scale(1.05, 1.05);
    transform-origin: center;
  }
}

.project-box-img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 200ms;
  &:hover {
    opacity: 0.3;
    cursor: pointer;
  }
}

.project-icon {
  display: block;
  position: relative;
  height: 60px;
  width: auto;
  margin: 30px auto 20px;
  z-index: 1;
  pointer-events: none;
}

.contact-container {
  text-align: center;
}

.icons-container {
  margin: 0px auto;
}

#score-box {

}

.score-container {
  position: fixed;
  right: 25px;
  bottom: 5px;
  color: transparent;
}
