@import "_colors";
@import "_text";
@import "_flex";

.sidebar {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  float: left;
  width: 25%;
  background-color: $false-black;
}

.name-container {
  width: 60%;
  margin: 0px auto;
  text-align: center;
}

.name {
  color: white;
  transition: 100ms;
  &:hover {
    transform: scale(1.1, 1.1);
    transform-origin: center;
    cursor: default;
  }
}

.main {
  position: fixed;
  right: 0px;
  top: 0px;
  bottom: 0px;
  float: right;
  width: 75%;
  background-color: $false-white;
  overflow-y: scroll;
}

.content-container {
  width: 80%;
  margin: 50px auto;
}

.projects-container {
  width: 100%;
  margin: 0px auto;
  @include flexbox();
  -webkit-flex-flow: row wrap;
}

.project-box {
  position: relative;
  width: 300px;
  height: 200px;
  margin: 10px;
  padding: 0px 10px;
  text-align: center;
  transition: 200ms;
  &.cvicu {
    background-color: $red;
  }
  &.hbi {
    background-color: $hbi-yellow;
  }
  &:hover {
    transform: scale(1.05, 1.05);
    transform-origin: center;
  }
}

.project-box-img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: 200ms;
  &:hover {
    opacity: 0.2;
    cursor: pointer;
  }
}

.project-icon {
  display: block;
  height: 60px;
  width: auto;
  margin: 30px auto 20px;
}
